[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
requests = "*"
scikit-learn = "*"
fastapi = "*"
uvicorn = "*"
gunicorn = "*"
uri = "*"
pydantic = "*"
joblib = "*"
pyod = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.8"
